body, html {
  margin: 0;
}

* {
  font-family: "Roboto";
  list-style: none;
}

* {
  font-family: "Roboto";
}

body, html {
  margin: 0;
}

.loader {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disparait 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform-origin: center;
}
.loader i {
  animation: spin 3s linear;
  color: plum;
}

@keyframes disparait {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
/*Small devices ( phones) */
.reservation {
  font-size: 24px;
}

.logo {
  display: flex;
  width: 200px;
  height: 30px;
  align-items: center;
}

header {
  position: relative;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.city i {
  font-weight: 900;
}
.city p {
  margin: 0 25px;
  font-size: 16px;
}
.city a {
  display: flex;
}

.home {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 20px 70px;
}
.home h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.home p {
  font-size: 18px;
  margin-bottom: 27px;
}
.home a {
  padding: 13px 19px;
  border-radius: 25px;
  background-color: #686868;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.07);
  transition-duration: 0.25s;
}
.home:a:hover {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.07);
}

.functioning h2 {
  padding: 50px 0 10px 20px;
}
.functioning div {
  display: flex;
  flex-direction: column;
  margin: 24px 0 26px;
}
.functioning button {
  margin: 10px 20px 20px 25px;
  border-radius: 20px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 7px #d3d3d3;
  border: none;
  position: relative;
  cursor: pointer;
}
.functioning i {
  text-align: center;
  padding: 3px;
  position: relative;
  left: -20px;
  color: #7e7e7e;
  font-size: 125%;
}

.fonction-text {
  margin: 4px;
  font-size: 16px;
  font-weight: bold;
}

.function-number-list {
  position: absolute;
  background-color: #9356DC;
  border-radius: 20px;
  height: 24px;
  width: 24px;
  color: #FFFFFF;
  left: -15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-restaurant {
  background-color: #EAEAEA;
  padding: 26px 0 24px;
  position: relative;
  margin-top: 68px;
}
.card-restaurant img {
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.card-restaurant a {
  text-decoration: none;
  color: #353535;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.07);
  display: block;
  border-radius: 20px;
  margin: 0 17px;
}
.card-restaurant cards {
  display: grid;
  gap: 20px;
}
.card-restaurant h2 {
  margin: 18px;
}
.card-restaurant .fa-solid {
  color: transparent;
  background-image: linear-gradient(352deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 30px;
  position: absolute;
  right: 25px;
  padding: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.card-restaurant .fa-solid:hover {
  opacity: 1;
  transform: scale(1.1);
}
.card-restaurant .fa-regular {
  font-size: 30px;
  position: absolute;
  right: 25px;
  padding: 12px;
  transform: scale(1);
  cursor: pointer;
}
.card-restaurant i:hover {
  opacity: 1;
}
.card-restaurant article {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  margin: 18px;
}
.card-restaurant h3 {
  margin: 12px;
}
.card-restaurant p {
  padding: 5px;
  font-size: 17px;
  margin-top: 12px;
  position: absolute;
  right: 28px;
}
.card-restaurant h4 {
  font-weight: normal;
  margin: 12px;
  padding-bottom: 12px;
}

.card-badge {
  position: absolute;
  right: 48px;
  color: #008766;
  background-color: #99e2dc;
  margin: 15px 1px;
  padding: 5px 10px;
}

.footer {
  background-color: #353535;
  padding: 5px;
}
.footer h4 {
  color: #FFFFFF;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 12px;
}
.footer i {
  color: #FFFFFF;
  margin-right: 8px;
  margin-right: 11px;
}
.footer strong {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  margin: 8px 0;
}
.footer div {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

/*TABLETTE*/
@media (min-width: 768px) {
  .functioning button {
    width: 90%;
  }
  .functioning i {
    text-align: start;
  }
}
/*DESKTOP*/
@media (min-width: 1024px) {
  .home h1 {
    font-size: 40px;
  }
  .functioning h2 {
    padding: 0;
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .functioning div {
    display: flex;
    flex-direction: row;
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-restaurant {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-restaurant h2 {
    font-size: 24px;
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-restaurant .card-content {
    position: relative;
  }
  .card-restaurant .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-restaurant img {
    width: 100%;
    height: 231px;
  }
  .card-restaurant .fa-solid {
    color: transparent;
    background-image: linear-gradient(352deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
    position: absolute;
    right: 25px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .card-restaurant .fa-solid:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  .card-restaurant .fa-regular {
    font-size: 30px;
    position: absolute;
    right: 25px;
    padding: 12px;
    transform: scale(1);
    cursor: pointer;
  }
  .card-restaurant i:hover {
    opacity: 1;
  }
  .card-restaurant .new {
    position: relative;
  }
  .footer div {
    display: flex;
    flex-direction: row-reverse;
    padding: 57px 25px 30px;
  }
  .footer .bold {
    font-weight: 700;
  }
  .footer h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 16px;
    margin-left: 40px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
/* Phones */
* {
  margin: 0;
  font-family: "Roboto";
  list-style: none;
}

header {
  list-style: none;
}

.container {
  position: relative;
}
.container h1 {
  font-family: "Shrikhand";
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 14px;
}
.container i {
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  left: -50px;
  top: 25px;
  color: #353535;
}

.restaurant-menu img {
  width: 100%;
  height: 275px;
}

.menu-container {
  height: 80px;
}

.menu {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
  height: 80px;
}
.menu h2 {
  font-family: "Shrikhand";
  padding: 17px;
  font-size: 28px;
}
.menu .fa-solid {
  color: transparent;
  background-image: linear-gradient(352deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 30px;
  position: absolute;
  right: -5px;
  top: -13px;
  padding: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu:hover .fa-solid {
  opacity: 1;
  transform: scale(1.1);
}
.menu .fa-regular {
  font-size: 30px;
  position: absolute;
  right: -5px;
  top: -13px;
  padding: 12px;
  transform: scale(1);
  cursor: pointer;
}

.icone-menu {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  position: relative;
  bottom: 50px;
  right: 41px;
}

.submenus h3 {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0 22px 12px;
  margin-top: 38px;
  background-color: #f6f6f6;
}
.submenus h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 24px;
}
.submenus h4 {
  font-size: 18px;
}
.submenus p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenus i {
  color: #99e2d0;
}

.lists {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px;
  padding: 15px 12px 0 13px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  animation: appear 1s;
}
.lists:nth-child(1) {
  animation-delay: 100ms;
  animation-fill-mode: both;
}
.lists:nth-child(2) {
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.lists:nth-child(3) {
  animation-delay: 300ms;
  animation-fill-mode: both;
}
.lists .list-content {
  width: 100%;
  display: flex;
}
.lists h4 {
  font-size: 18px;
}
.lists span {
  font-size: 18px;
  margin-left: auto;
  margin-top: auto;
}
.lists .wrap-icon {
  width: 56px;
  height: 70px;
  background-color: #99e2d0;
  color: #f6f6f6;
  border-radius: 0 16px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
}
.lists i {
  color: #f6f6f6;
  font-size: 26px;
}
.lists .p {
  margin: -20px 0 0 20px;
}
.lists:hover .wrap-icon {
  transform: translateX(-56px);
}
.lists:hover i {
  transform: rotate(360deg);
  transition: all 1s;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn-menu {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  color: #f6f6f6;
  text-decoration: none;
  border-radius: 30px;
  margin: 40px;
  padding: 12px 24px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #353535;
  padding: 5px;
}
.footer h4 {
  color: #ffffff;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 12px;
}
.footer i {
  color: #ffffff;
  margin-right: 8px;
}
.footer strong {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  margin: 8px 0;
}
.footer div {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

/*DESKTOP*/
@media (min-width: 1024px) {
  header {
    list-style: none;
  }
  header i {
    color: #353535;
  }
  .container i {
    position: absolute;
    left: -38.75rem;
  }
  .restaurant-menu img {
    height: 423px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu h2 {
    text-align: center;
    padding-top: 50px;
  }
  .submenus {
    display: flex;
    justify-content: center;
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
  }
  .submenus h3 {
    margin: 40px 25px 12px;
  }
  .lists {
    width: 634px;
    height: 69px;
    background-color: white;
  }
  .lists .wrap-icon {
    width: 56px;
    height: 81px;
    background-color: #99e2d0;
    color: #f6f6f6;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 51.5rem;
    opacity: 0;
    transform: translateX(-9rem);
  }
  .lists:hover .wrap-icon {
    opacity: 1;
    transform: translateX(-15rem);
    transition: all 1s ease-out;
  }
  .lists:hover i {
    transform: rotate(360deg);
    transition: all 1s;
  }
  .lists .icone-menu {
    position: absolute;
    right: 330px;
    bottom: 40px;
  }
  .icone-menu {
    position: absolute;
    right: 330px;
    bottom: 22px;
  }
  .footer div {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer h4 {
    display: flex;
    align-items: center;
    padding: 57px 25px 30px 16px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 52px 16px 34px;
  }
  .btn-menu {
    padding: 16px 50px;
  }
}/*# sourceMappingURL=main.css.map */