* {
  margin: 0;
  font-family: "Roboto";
}

/*(phones) */
@media (max-width: 768px) {
  header {
    list-style: none;
  }
  main {
    background-color: #f6f6f6;
  }
  .container {
    position: relative;
  }
  .container h1 {
    font-family: "Shrikhand";
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 14px;
  }
  .container i {
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    left: 25px;
    top: 25px;
  }
  .restaurant-menu img {
    width: 100%;
    height: 275px;
  }
  .menu-container {
    height: 80px;
  }
  .menu {
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin-top: -50px;
    width: 425px;
    height: 80px;
  }
  .menu h2 {
    font-family: "Shrikhand";
    padding: 32px 16px;
    font-size: 28px;
  }
  .menu .fa-solid {
    color: transparent;
    background-image: linear-gradient(352deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: -13px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .menu:hover .fa-solid {
    opacity: 1;
    transform: scale(1.1);
  }
  .menu .fa-regular {
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: -13px;
    padding: 12px;
    transform: scale(1);
    cursor: pointer;
  }
  .icone-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    position: relative;
    bottom: 60px;
    right: 41px;
  }
  .submenus h3 {
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    margin: 20px 0 22px 13px;
    margin-top: 42px;
  }
  .submenus h3::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 24px;
  }
  .submenus h4 {
    font-size: 18px;
    margin: 0 0 4px;
  }
  .submenus p {
    font-size: 15px;
    font-weight: 300;
    margin: 12px;
  }
  .submenus span {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
  }
  .submenus i {
    color: #99e2d0;
  }
  .lists {
    width: 25rem;
    height: 70px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 20px;
    position: relative;
    cursor: pointer;
  }
  .lists .list-content {
    width: 100%;
  }
  .lists h4 {
    font-size: 18px;
    margin: 12px;
    padding: 8px 0;
  }
  .lists span {
    font-size: 18px;
    margin: 15px 13px;
    position: absolute;
    left: 20rem;
    right: 15px;
    top: 26px;
  }
  .lists .wrap-icon {
    width: 56px;
    height: 70px;
    background-color: #99e2d0;
    color: #f6f6f6;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 36.5rem;
    opacity: 0;
    transform: translateX(-9rem);
  }
  .lists i {
    color: #f6f6f6;
    font-size: 26px;
  }
  .lists .p {
    margin: -20px 0 0 20px;
  }
  .lists:hover .wrap-icon {
    opacity: 1;
    transform: translateX(-15rem);
    transition: all 1s ease-out;
  }
  .lists:hover i {
    transform: rotate(360deg);
    transition: all 1s;
  }
  .lists:hover .list-content span {
    transform: translateX(-70px);
    transition: all 1s;
  }
  .btn-menu {
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: #f6f6f6;
    text-decoration: none;
    border-radius: 30px;
    margin: 40px;
    padding: 15px 30px;
    cursor: pointer;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .footer {
    background-color: #353535;
    padding: 5px;
  }
  .footer h4 {
    color: #FFFFFF;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 12px;
    margin-bottom: 16px;
  }
  .footer i {
    color: #FFFFFF;
    margin-right: 8px;
    margin-right: 11px;
  }
  .footer strong {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
  }
  .footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer li {
    margin: 8px 0;
  }
  .footer div {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
}/*# sourceMappingURL=palette-du-goût.css.map */